<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from controller: #{@controller_message}" %>

<br/>
<%= link_to("Go to index", 
    {
        :controller => 'welcome',
        :action => 'index'
    }
)%>

<br/>
<%= link_to("Go to index passing ID", 
    {
        :controller => 'welcome',
        :action => 'index',
        :id => 69
    }
)%>

<br/>
<%= link_to("Go to index passing ID and whatever else..", 
    {
        :controller => 'welcome',
        :action => 'index',
        :id => 69,
        :random => "Good vibes and a laugh or two, maybe cereal if there is time"
    }
)%>

